@import "../variables.scss";

.mobileThumbs {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40%;
	background: $mobileThumbs-bg;
	z-index: 10;
	transition: all 0.3s linear;
	min-height: 358px;

	&__container {
		position: relative;
		padding: 30px;
		height: 80%;
		display: flex;
		align-items: center;
	}

	&.hide {
		transform: translateY(90%);
	}

	&__img {
		transform: skew(-20deg) scale(1.2);
	}

	&__swiper {
		height: 100%;
	}

	& .swiper-slide {
		display: flex;
		align-items: center;
		transform: rotate(90deg);
		justify-content: center;
	}

	&__slide-wrapper {
		@media screen and (min-width: 390px) {
			// &::before {
			// 	content: "";
			// 	display: block;
			// 	position: absolute;
			// 	border-bottom: 2px solid white;
			// 	border-right: 3px solid white;
			// 	width: 70px;
			// 	height: 40px;
			// 	top: calc(148px + 6 * ((100vw - 390px) / (999 - 390)));
			// 	right: calc(-23px + 90 * ((100vw - 390px) / (999 - 390)));
			// 	z-index: 10000;
			// 	transform: skew(20deg);
			// }

			// &::after {
			// 	content: "";
			// 	display: block;
			// 	position: absolute;
			// 	border-top: 2px solid white;
			// 	border-left: 3px solid white;
			// 	width: 70px;
			// 	height: 40px;
			// 	top: calc(-12px - 20 * ((100vw - 390px) / (432 - 390)));
			// 	left: calc(-20px - 5 * ((100vw - 390px) / (432 - 390)));
			// 	transform: skew(20deg);

			// 	@media screen and (min-width: 432px) {
			// 		top: 90px;
			// 		left: calc(-25px + 95 * ((100vw -  432px) / (999 - 423)));
			// 	}
			// }
		}
	}

	&__slide-container {
		transform: skew(20deg);
		overflow: hidden;
		position: relative;
		border: 2px solid #9f9f9f;
		outline: 1px solid gray;
		outline-offset: 5px;
		max-width: 120px;
		
	}

	&__arrowDown {
		position: absolute;
		top: 85%;
		left: 50%;
		width: 75px;
		height: 50px;
		transform: translateX(-50%);
		z-index: 10;
	}

	&__arrowImg {
		transform: rotate(180deg);
	}
}

.topTriangle {
	width: 100%;
	height: 100px;
	background: transparent;
	opacity: 0.9;
	position: absolute;
	filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.75));
	bottom: 100%;
	z-index: 1000;

	@media screen and (min-width: 750px) and (max-width: 1000px) {
		height: 75px;
	}

	@media screen and (max-width: 750px) {
		height: 50px;
	}

	&::before {
		position: absolute;
		clip-path: polygon(0 0, 0% 100%, 100% 100%);
		background: $orange-color;
		content: "";
		width: 100%;
		height: 100px;
		z-index: 10;

		@media screen and (min-width: 750px) and (max-width: 1000px) {
			height: 75px;
		}

		@media screen and (max-width: 750px) {
			height: 50px;
		}
	}
}

.bottomTriangle {
	width: 100%;
	height: 100px;
	background: transparent;
	position: absolute;
	filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.75));

	@media screen and (max-width: 750px) {
		height: 50px;
	}

	@media screen and (min-width: 750px) and (max-width: 1000px) {
		height: 75px;
	}

	&::before {
		position: absolute;
		clip-path: polygon(0 0, 0% 100%, 100% 0);
		background: $orange-color;
		content: "";
		width: 100%;
		height: 100px;
		z-index: 10;
		inset: 0;

		@media screen and (max-width: 750px) {
			height: 50px;
		}

		@media screen and (min-width: 750px) and (max-width: 1000px) {
			height: 75px;
		}
	}
}
