@import "../variables.scss";

.mobileDescriptionPopup {
	width: 100%;
	height: 100%;
	background-color: rgba(17, 16, 17, 1);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;

	&__close {
		width: 50px;
		height: 10px;
		background-color: $orange-color;
		position: absolute;
		top: 5%;
		right: 5%;
		transform: rotate(45deg);
		z-index: 100;

		&::before {
			content: "";
			width: 50px;
			height: 10px;
			background-color: $orange-color;
			position: absolute;
			top: 5%;
			right: 5%;
			transform: rotate(90deg);
		}
	}
	&__text {
		margin-bottom: 50px;
		width: 100%;
	}

	&__container {
		width: 100%;
		margin-top: 30%;
		padding: 5%;
		color: white;
		box-sizing: border-box;
	}

	&__links {
		display: flex;
		justify-content: center;
		gap: 50px;
		margin-bottom: 100px;

		& img {
			width: 70px;
		}
	}

	&__arrowNext {
		position: relative;
		width: 50px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__arrowPrev {
		position: relative;
		width: 50px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__github,
	&__website {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		color: white;
		text-decoration: none;
	}

	&__gridLayout {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 50px;
		padding: 5%;
		padding-top: 20%;
	}

	&__techContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 150px;
		position: relative;
		opacity: 0;


	}

	&__techImg {
		max-width: 100px;
		margin-bottom: 20px;
	}

	&__techText {
		color: white;
		text-align: center;
	}
}

.appearence {
	transition: all .3s linear;
	animation-name: in;
	animation-duration: .3s;
	animation-timing-function: linear;
	animation-iteration-count: 1; 
	opacity: 1;
}

@keyframes in {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}