@import "../variables.scss";

.mobileDescriptionPopup {
	width: 100%;
	height: 100%;
	background-color: rgba(17, 16, 17, 1);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;

	& .swiper-slide {
		height: 100vh;
		overflow: scroll;
	}

	&__close {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 5%;
		right: 5%;
		display: flex;
		justify-content: center;
		align-items: center;

		&Line {
			width: 50px;
			height: 10px;
			background-color: $orange-color;
			transform: rotate(45deg);
			z-index: 100;

			&::before {
				content: "";
				width: 50px;
				height: 10px;
				background-color: $orange-color;
				position: absolute;
				top: 5%;
				right: 5%;
				transform: rotate(90deg);
			}
		}
	}

	&__text {
		margin-bottom: 50px;
		width: 100%;
		max-width: 400px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	&__container {
		width: 100%;
		margin-top: 100px;
		padding: 5%;
		color: white;
		box-sizing: border-box;
	}

	&__links {
		display: flex;
		justify-content: center;
		gap: 50px;
		margin-bottom: 50px;

		& img {
			width: 70px;
		}
	}

	&__arrowNext {
		position: relative;
		width: 50px;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 50px;
	}

	&__arrowPrev {
		position: relative;
		width: 50px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__github,
	&__website {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		color: white;
		text-decoration: none;
	}

	&__gridLayout {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 25px;
		padding: 25px;
		margin-top: 75px;
		margin-bottom: 50px;
		height: 60%;
		overflow-x: scroll;
		box-sizing: border-box;
		scrollbar-color: #e75d02 transparent;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transform-style: preserve-3d;
		-webkit-perspective: 0;
	}

	&__techContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 150px;
		max-height: 120px;
		position: relative;
		transform: translateX(100px);
		opacity: 0;
		justify-self: center;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transform-style: preserve-3d;
		-webkit-perspective: 0;
	}

	&__techImg {
		max-width: 75px;
		object-fit: cover;
		margin-bottom: 20px;
	}

	&__techText {
		color: white;
		text-align: center;
	}
}

.appearence {
	transition: all 0.3s linear;
	animation-name: in;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 0;
}

@keyframes in {
	0% {
		transform: translateX(100px);
	}

	100% {
		transform: translateX(0);
	}
}
