@import "../variables.scss";

.thumbsSlider {
	transform: rotate(20deg);
	top: 15%;
	left: 15%;
	width: 70%;
	height: 85vh;

	& .swiper-wrapper {
		align-items: center;
	}
}

.thumbsSlider .swiper-slide {
	filter: grayscale(1);
	transition: all 0.2s linear;
	max-width: 300px;
	max-height: 160px !important;
}

.thumbsSlider .swiper-slide-active {
	filter: grayscale(0);
}

.thumbsSlider .swiper-slide-prev {
	transform: translateX(-1% * $thumbsSlider_slide-shift);
}

.thumbsSlider .swiper-slide-next {
	transform: translateX(1% * $thumbsSlider_slide-shift);
}

.thumbsSlider .swiper-slide-before-prev {
	transform: translateX(2 * $thumbsSlider_slide-shift * (-1%));
}

.thumbsSlider .swiper-slide-after-next {
	transform: translateX(2 * $thumbsSlider_slide-shift * 1%);
}
