@import "../variables.scss";

.navMenu {
	&__container {
		position: absolute;
		top: -10%;
		left: -10%;
		max-width: 800px;
		width: 50%;
		min-width: 500px;
		height: 150%;
		background: $navMenu-bg;
		z-index: 100;
		transform: rotate(-20deg);
		transition: all 0.3s linear;

		@media screen and (max-width: 1500px) {
			transform: rotate(-10deg);
		}

		// @media screen and (max-width: 1000px) {
		// 	display: none;
		// }

		&::before {
			content: "";
			background: $orange-color;
			width: 50px;
			height: 150vh;
			position: absolute;
			top: 0;
			right: 20px;
			box-shadow: $navMenu_wideLine-boxShadow;
		}

		&::after {
			content: "";
			background: $orange-color;
			width: 35px;
			height: 150vh;
			position: absolute;
			top: 0;
			left: 100%;
			box-shadow: $navMenu_narrowLine-boxShadow;
		}
	}
	&__title {
		text-transform: uppercase;
		color: white;
		position: absolute;
		font-size: 32px;
		top: 13%;
		left: 55%;
		z-index: 100;
		transform: rotate(20deg);

		@media screen and (max-width: 1500px) {
			transform: rotate(10deg);
			top: 13%;
			left: 48%;
		}
	}
}

.navMenu__container.hide {
	transform: translate(-50%) rotate(-20deg);

	@media screen and (max-width: 1500px) {
		transform: translate(-50%) rotate(-10deg);
	}
}
