.mainSlider {
	height: 100vh;
	overflow: visible;

	&__img {
		//мешает нормальному drag - тормозит его
		// transition: all 0.3s linear;
		width: 100%;
		height: 100%;
		object-fit: cover;
		touch-action: none;
		transition: all 0.3s linear;

		@media screen and (min-width: 500px) and (max-width: 1000px) {
			height: 100vh;
		}

		@media screen and (min-width: 1000px) {
			pointer-events: none;
			user-select: none;
		}

		@media screen and (max-width: 1000px) {
			object-fit: none;
			width: auto;
			height: 100vh;
			max-width: none;
			object-fit: cover;
		}
	}
}

@media screen and (max-width: 1000px) {
	.mainSlider .swiper-slide {
		overflow: hidden;
	}
}
