$navMenu-bg: linear-gradient(90deg, rgba(17, 16, 17, 1) 70%, rgba(22, 23, 22, 1) 44%);
$descriptionBar-bg: linear-gradient(70deg, rgba(22, 23, 22, 1) 70%, rgba(17, 16, 17, 1) 44%);
$orange-color: #e75d02;
$navMenu_wideLine-boxShadow: -22px 0px 36px 0px rgba(0, 0, 0, 0.75);
$navMenu_narrowLine-boxShadow: -12px 0px 20px 20px rgba(0, 0, 0, 0.5);
$thumbsSlider_slide-shift: 0;
$thumbsSlider_slide-shiftTab: 0;
$navMenu_rotation: 0;
$mobileThumbs-bg: linear-gradient(200deg, rgba(17,16,17,1) 44%, rgba(22,23,22,1) 44%);
